html, body {
    margin: 0;
    padding: 0;
}
.contenedor1 {
    background-image: url(images/header.jpg);
    height: 70vh;
    background-position: center;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu {   
    padding-top: 40px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;    
}
ul {
    list-style: none;
}
.menu-small {
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    
}
#logo {
    width: 75px;
    height: 75px;    
}
.menu-largo {
    position: relative;
    animation-name: fade;
    animation-duration: 3s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    flex-basis: 80%;
    margin: 0 10px 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@keyframes fade {
    0% {
        right: 20%;
        opacity: 0.1;
    }
    50% {
        right: 10%;
        opacity: 0.5;
    }
    100% {
        right: 5%;
        opacity: 1;
    }
}
a {
    color: #808080;
    text-decoration: none;
}
a:hover {
    color: #ffab64;
}
.redes {
    font-size: 20px;    
    flex-basis: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.redes-sociales {
    margin-right: 20%;
}
.cabecera {
    background-color: #a89a9a3a;
    height: 20vh;
    height: 35%;
    display: flex;
    margin: 0 130px 0px 130px;
    justify-content: center;
}
.texto {
    position: relative;
    animation-name: fade;
    animation-duration: 3s;
    color: #f59c7bde;
    font-size: 30px;
    margin-top: 30px;
}
.contenedor2 {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.blog {
    background-color: #d8d7d7;
    padding: 10px;
    flex-basis: 65%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.entradas {
    background-color: #f5f1f1;
    padding: 10px;
    flex-basis: 40%;
    margin-bottom: 10px;    
}
.foto-blog {
    width: 30vw;
}
.titulo-entrada {
    background-color: #f08080;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: start;
    padding: 5px 0 0 5px;
}
.entrada-larga {
    background-color: #d8d7d7;
    text-align: center;
    flex-basis: 100%;
    
}
.aside {
    background-color: #d8d7d7;
    padding: 10px;
    flex-basis: 28%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.lateral {
    text-align: center;
}

.contenedor3 {
    background-color: #f5f1f1;    
    height: 40px;
    display: flex;
    flex-direction: row;
}
footer {
    flex-basis: 100%;    
    text-align: center;
    margin-top: 10px;
}

@media  (max-width: 900px) {
    .contenedor2 {
      /*  background-color: #fff734;
        border-color: #fff734;*/
        align-items: space-around;
    }
    .texto {
        text-align: center;
    }
    .blog {
        flex-basis: 100%;
        margin-bottom: 10px;
    }
    .foto-blog {
        width: 40vw;
    }
    .aside {
        flex-basis: 100%;
    }
}

@media  (max-width: 700px) {
    .menu {
        flex-wrap: wrap;
    }
    .menu-small {
        flex-basis: 100%;        
    }
    .menu-largo {
        flex-basis: 100%;
        margin: 10px 0 10px 0;
    }
    .texto {
        margin-top: 0px;
    }
    .redes-sociales {
        color: #ffaa64ce;
    }
    
    .blog {
       /* background-color: #004763;
        border-color: #004763;*/
    }
    .entradas {
       /* background-color: #558991;
        border-color: #558991;*/
        flex-basis: 100%;
    }
    .foto-blog {
        padding-left: 20px;
        width: 80vw;
    }
    .entrada-larga {
        background-color: #97d4c5;
        border-color: #97d4c5;
    }
   
    }
    .footer {
        background-color: #ffbf60;
        border-color: #ffbf60;
    }
}